.header,
.footer {
  display: flex;
  justify-content: space-between;

  border: 1px solid yellowgreen;
}

.left,
.right {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  /* align-items: center; */
  justify-content: center;

  border: 1px solid blueviolet;
}

.logo {
  max-width: 95vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 99vh;
  width: 99vw;
}
