.container {
    background-color: gray;
    padding: 5px;

    /* flex settings */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container > div {
    background-color: white;
    margin: 5px;
    padding: 5px;

    /* flex settings */
}

.four {
    flex: 2;
    text-align: center;
}